{% extends "base.html" %}

{% block content %}

<h1>Frequently Asked Questions</h1>

<ul>
    <li><a href="#how_does_it_work">How does RentAlerts work?</a></li>
    <li><a href="#how_much">How much does it cost?</a></li>
    <li><a href="#why_english">Why is this site in English, not Finnish?</a></li>
    <li><a href="#finnish_people">Are Finnish people allowed to use the site?</a></li>
    <li><a href="#next_steps">OK, so I've found the ideal apartment. What next?</a></li>
    <li><a href="#landlord_or_agency">I'm an agent/private landlord. Is it OK for me to post apartments here?</a></li>
    <li><a href="#abuse">Help! The landlord's being a jerk/someone is sending me nasty messages!</a></li>
    <li><a href="#bugs">Help! I think I've found a bug!</a></li>

</ul>

<hr>

<h2 id="how_does_it_work">How does Rentalerts work?</h2>

<p>
<b>Helsinki RentAlerts</b> is a community-sourced apartment finder. Rather than rely on agencies, members post details of apartments they are going to vacate at some point, or spare rooms they'd like to rent out. Other members can search for these based on their needs, for example how much rent they can pay or how much space they need.
</p>

<hr>

<h2 id="how_much">How much does it cost?</h2>

<p>For the time being <b>Helsinki RentAlerts</b> is completely free to use while we're in the Beta Testing Phase. In future we may charge new users a one-time membership fee or else rely on contributions. What we don't want is to become reliant on advertisers and agencies.</p>

<hr>

<h2 id="why_english">Why is this site in English, not Finnish?</h2>

<p><b>Helskinki RentAlerts</b> is aimed at foreigners, who have the hardest time finding somewhere to live in the city. We've therefore decided to choose English in order to reach them - often agency sites are Finnish-only, or with very limited English support. In the future, we may support other languages.</p>

<hr>

<h2 id="finnish_people">Are Finnish people allowed to use this site?</h2>

<p>
Of course! This site is open to everybody, regardless of nationality, Finns included. Tervetuloa !</p>

<hr>

<h2 id="next_steps">OK, so I've found the ideal apartment. What next?</h2>

<p>First, contact the current occupant, using the "Contact occupant" button. From that point, it's up to you and the occupant how to manage things. If the owner of the apartment is not the occupant, you will of course have to come to an agreement with the agency or landlord yourself.</p>

<hr>

<h2 id="landlord_or_agency">I'm an agent/private landlord. Is it OK for me to post apartments here?</h2>

<p>Yes, as long as you include your agency name and URL when you add a new apartment.</p>

<hr>

<h2 id="abuse">Help! The landlord's being a jerk/someone is sending me nasty messages!</h2>
<p>Contact <a href="mailto:admin@helsinkirentalerts.fi">the site administrator</a>. Users who abuse the system, post fraudulent information, or send abusive messages will be banned, and reported to the authorities if they break the law.</p>

<hr>

<h2 id="bugs">Help! I think I've found a bug!</h2>
<p>Contact <a href="mailto:bugs@helsinkirentalerts.if">our bug hunters</a>. Please include any details you think are relevant. We'll deal with any bugs as quickly as possible,</p>

{% endblock %}
